html{
    background-color: #e1d4c2;
}
body{
    font-family: 'Jersey 15', serif;
    
}

h1{
    color: #1520A6;
    font-size: 8vw;
    margin: 7vw;
}
h4{
    text-overflow: inherit;
    color:red;
    text-align: right;
    margin: 1vw;
    
}
a{
    text-decoration: none;
}
h3{
    color: #1520A6;
    font-size: 3vw;
    margin: 8vw;
    margin-bottom: 0;
}

h5{
    color: #1520A6;
    text-align: center;
    text-anchor: end;
}
p{
    color:red;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.video1 {
    margin-top: 5vw;
    margin-left: 8vw;
    width: auto;
    height: auto;
}

.imagenTFG{
    margin-top: 5vw;
    margin-left: 8vw;
    width: 23vw;
    height: auto;
    align-items: center;
}



